.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  margin-top: 20px;
  background-color: #ffffff;
  min-height: 250px;
  min-width: 374px;
  border-radius: 16px;
  box-shadow: 1px 2px 4px 1px #09084214;

  transition: 0.2s ease-in-out;
}

.plan:hover {
  transform: scale(0.92);
}

.premium {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: orange;
  color: black;
  border-radius: 10px;
  padding: 5px 5px;
}

.plan__size {
  min-height: 270px;
  min-width: 374px;
}

.plan__title {
  font-size: 26px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #ffffff;
}

.plan__cost {
  font-size: 40px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #ffffff;
}

.plan__month {
  font-size: 26px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #ffffff;
}

.plan__perks {
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #ffffff;
}

.plan__signUp {
  margin-left: 30px;
  margin-bottom: 10px;
  width: 298px;
  background: #fafaff;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 16px;
  border-style: solid;
  border-color: white;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

.plan__top {
  padding-bottom: 25px;
  background-color: #ffffff;
  margin-top: 10px;
}

.mostPopular {
  background-color: #5555ff;
  color: white;
}

@media only screen and (max-width: 720px) {
  .plan__title {
    font-size: 22px;
  }
  .plan__month {
    font-size: 22px;
  }
  .plan__perks {
    font-size: 15px;
  }
  .plan__cost {
    font-size: 35px;
  }
}
