.card {
  /* background-color: black; */
  /* position: relative; */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 420px;
  min-width: 374px;
  justify-content: center;
  border-radius: 16px;
  margin-top: 40px;
  margin-left: 16px;
  transition: 0.2s ease-in;

  box-shadow: 0px 4px 24px 0px #0908420a;
  box-shadow: 0px 2px 4px 0px #09084214;
}

.card:hover {
  transform: scale(1.07);
}

.card__new {
  position: absolute;
  top: 8px;
  left: 16px;
}

.card__pic {
  padding-left: 50px;
  background-color: #ffffff;
}

.card__pic > img {
  height: 198px;
  object-fit: contain;
  margin-top: 15px;
  border-radius: 16px;
}

.card__title {
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 55px;
  background-color: #ffffff;
}

.card__content {
  background-color: #ffffff;
  padding-left: 55px;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  word-wrap: normal;
}

.card__btn {
  margin-left: 50px;
  width: 298px;
  background: #5555ff;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 16px;
  border-style: solid;
  border-color: white;
  font-weight: 600;
  letter-spacing: 0.6px;
}

@media only screen and (max-width: 720px) {
  .card__pic > img {
    height: 200px;
    object-fit: contain;
    margin-top: 12px;
    border-radius: 16px;
  }

  .card__pic {
    padding-left: 36px;
  }

  .card__content {
    font-size: 14px;
    padding-left: 45px;
    margin-bottom: 10px;
  }

  .card__title {
    padding-left: 45px;
    font-size: 20px;
  }

  .card__btn {
    border-radius: 10px;
  }
}
