.allIdeas {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-left: 120px;
  margin-right: 100px;
}

@media only screen and (max-width: 720px) {
  .allIdeas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
